:root {
	--bg: #1b1b1f;
	--bg2: #18181b;
	--bg3: #222228;
	--fg: #b3b3b3;
	--fg2: #d3d3d3;
	--fg3: #f3f3f3;
}

html {
	font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
	font-size: 14pt;
}

body {
	width: 100vw;
	height: 100vh;
	height: 100dvh;
	margin: 0;
	padding: 0;

	background-color: var(--bg2);
	color: var(--fg);

	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	margin: 0;
	color: var(--fg2);
}

p {
	text-align: center;
}

main {
	margin: auto;
	padding: 3rem 1rem;
	box-sizing: border-box;

	max-width: 30rem;
	width: 100%;
	max-height: 50rem;
	height: 100%;
	background-color: var(--bg);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;

	border-radius: 1rem;
}

form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: stretch;
}

input,
button {
	background-color: var(--bg);
	color: var(--fg2);
	font-size: 14pt;

	border-radius: 0.5rem;
	border: none;

	outline: 1px solid var(--fg);
	padding: 0.5rem;
}

input:hover,
button:hover {
	background-color: var(--bg3);
	color: var(--fg3);
}

button {
	cursor: pointer;
}

.card_img {
	max-width: 100%;
	width: auto;
	max-height: 60%;
}
